arrow
asgiref
backports.zoneinfo;python_version<"3.9"
binaryornot
certifi
chardet
charset-normalizer
click
cookiecutter
Django
django-decouple
django-sslserver
django-tailwind
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
Pygments
python-dateutil
python-slugify
PyYAML
requests
rich
six
sqlparse
text-unidecode
types-python-dateutil
typing_extensions
urllib3
