{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    {% if is_dvelopment %}
    {% load static tailwind_tags %}
    {% tailwind_css %}
    {% else %}
    <link href="{% static "css/dist/styles.css" %}" rel="stylesheet" />
    {% endif %}
    

    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    
    <!-- TOKEN GENERATOR -->
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>    
    <!-- END TOKEN GENERATOR -->
    <meta charset="utf-8" />
    <title>RMCode | {% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0 maximum-scale=1" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="PedeVizinho - Marketplace">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ecfaf2">    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="keywords" />

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/rmclogo.png' %}">
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{% static 'img/rmclogo.png' %}">

    <!-- Web App Manifest -->
    <meta name="application-name" content="RMCode">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PedeVizinho">
    <link rel="icon" sizes="16x16 32x32 48x48 72x72 192x192" href="{% static "img/rmclogo.png" %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block head %}{% endblock head %}
    
  </head>

  <style>
    /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  </style>
  

  <body class="m-1 mb-32 overflow-x-hidden">   
    {{ is_development }}


  <!-- Internet Connection Status-->
  <div class="internet-connection-status" id="internetStatus"></div>

   
    {% block content %}
    {% endblock content %}    
 
    

    <!-- JavaScript Libraries -->
    <script src="{% static "js/main.js" %}"></script>
   
    <script src="{% static "js/rmToast.js" %}"></script>



  

    <!-- Internet Connection Status-->
    <div class="text-white" id="internetStatus"></div>
    <audio id="audio-element" src="{% static "sound/llv.mp3" %}"></audio>
  </body>
</html>
